.content {
  display: grid;
  border: grey 1px solid;
  grid-row: 20% 15% max-content
  padding: 10px;
  margin: 10px;
}

.border {
        fill: none;
        stroke: #black;
        stroke-width: 0.5px;
    }

.heading {
  grid-column: 1;
    grid-row: 1;
    color: 'grey';
    text-align: center;
}
.maplegend {
    grid-column: 1;
    grid-row: 2;
    color: 'grey';
    text-align: center;
}
.reasonChartLegend {
  grid-column: 1;
  grid-row: 6;
  color: 'grey';
  text-align: center;
}
.worldmap {
    grid-column: 1;
    grid-row: 3 / span 3;
    text-align: center;
}

.reason {
  text-align: center;
}


text, h1, .maplegend, .reasonChartLegend {
  font-family: 'Oswald', sans-serif;
}



.map:hover {
  transform: scale(1.7);
}
.reasonSvg:hover {
  transform: scale(1.2);
}
.map, .reasonSvg {
  transition: all 1s;
  transform-origin: 50% 10%; 
  overflow-x: overlay;
}

.regions {
  fill: orange;
}
.regions.selected {
    opacity: 0.3;
    stroke: none;
    transition: all 0.2s ease;
}

.regions.selected:hover {
    fill: orange;
    opacity: 0.7;
    stroke: #black;
    stroke-width: 0.5px;
}

.triangle {
  fill: yellow;
}

.slice:hover {
  opacity: 0.9;
}
.slice {
  transition: all 0.2s ease;
  overflow-x: overlay;
}
