.content {
  display: grid;
  border: grey 1px solid;
  grid-template-columns: auto max-content;
  grid-template-rows: 10% auto;
  padding: 10px;
  margin: 10px;
}

.border {
        fill: none;
        stroke: #black;
        stroke-width: 0.5px;
    }
.legend {
    grid-column: 2;
    grid-row: 1;
    height: 10px;
    color: 'grey';
    text-align: center;
}
.worldmap {
    grid-column: 2;
    grid-row: 2;
}

.map:hover {
  transform: scale(1.5);
}
.map {
  transition: all 1s;
}

.regions {
  fill: orange;
}
.regions.selected {
    opacity: 0.3;
    stroke: none;
    transition: all 0.2s ease;
}

.regions.selected:hover {
    fill: orange;
    opacity: 0.7;
    stroke: #black;
    stroke-width: 0.5px;
}

.triangle {
  fill: yellow;
}

